<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-card>
    <ion-card-header>
      <h1>Welcome!</h1>
    </ion-card-header>
    <ion-card-content>
      <h2 padding>Always forget to check out what the weather is going to be like today? </h2>
      <h1>Us too!</h1>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h2 padding>Looks like you are in a perfect place <br />
        It will take just a minute <br />
        Scroll window right
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <h1>
      <ion-icon name="arrow-round-forward"></ion-icon>
    </h1>
  </ion-card>
</ion-content>